{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block main %}

        <div id="top-head" class="box green-box">
            <img alt="guenther Krabbenhoeft Fashion Transparent"
                 src="{% static 'base/img/baner.png' %}">
            <h1 id="head-details">
                <p style="font-family: tanha">مرکز شبانه روزی و نگهداری <strong>سالمندان</strong> در <strong>کرج</strong></p>
                <p class="w-name" style="font-family: tanha">سحر</p>
            </h1>
        </div>


        <div class="box section-title">
            <img class="section-bullet"
                 src="{% static 'base/img/dot.png' %}">
            <h2 style="font-family: tanha;color: #3ba140">فعالیت های مرکز</h2>
        </div>



        <div class="box grid-section">
            <ul>
                <li>
                    <div class="grid-head">
                        <img alt="medical visit"
                             src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/stethoscope-grn.png">
                        <p>ویزیت پزشکی</p>
                    </div>
                    <p class="grid-body">از سلامت جسمانی سالمند شما با کادری با تجربه مراقبت می کنیم</p>
                </li>
                <li>
                    <div class="grid-head">
                        <img alt="advisor"
                             src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/conversation-grn.png">
                        <p>مشاوره روانشناسی</p>
                    </div>
                    <p class="grid-body">از سلامت روحی روانی سالمند شما به بهترین شکل مراقبت می کنیم</p>
                </li>
                <li>
                    <div class="grid-head">
                        <img alt="nursing services"
                             src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/nurse-grn.png">
                        <p>خدمات پرستاری</p>
                    </div>
                    <p class="grid-body">تحویل دارو ، تزریقات و چک کردن علائم و ... با کادر پرستاری با تجربه</p>
                </li>
                <li>
                    <div class="grid-head">
                        <img alt="events and trips"
                             src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/suitcase-grn.png">
                        <p>اردوهای متنوع</p>
                    </div>
                    <p class="grid-body">اردوهای تفریحی و زیارتی متنوع به همراه کادر مرکز</p>
                </li>
                <li>
                    <div class="grid-head">
                        <img alt="healthy diet"
                             src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/diet-grn.png">
                        <p>رژیم غذایی سالم</p>
                    </div>
                    <p class="grid-body">تنظیم رژیم غذایی اصولی توسط متخصص تغذیه</p>
                </li>
                <li>
                    <div class="grid-head">
                        <img alt="healthy meals"
                             src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/chef-grn.png">
                        <p>وعده های سالم</p>
                    </div>
                    <p class="grid-body">غذاهای سلامت ، خانگی و رژیمی ، به طعم قدیم اما امروز</p>
                </li>
            </ul>
        </div>



        <div class="box section-title">
            <img class="section-bullet"
                 src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/dot.png">
            <h2 style="font-family: tanha;color: #3ba140">پذیرش سالمند</h2>
        </div>
        <div id="ep-reception-box" class="box green-box">
            <div>
                <p><strong>مرکز سالمندان محیا</strong>، به سبزی زندگی </p>
                <a class="_button" href="https://mahyaecc.ir/contactUs">تماس با ما</a>
            </div>
        </div>



        <div class="box section-title">
            <img class="section-bullet"
                 src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/dot.png">
            <h2 style="font-family: tanha;color: #3ba140">گالری</h2>
        </div>



        <div id="gallery-box" class="box">
            <div>
                <p>عکس های گالری مرکز خودتان را ورق بزنید و با ما بیشتر آشنا شوید</p>
                <a class="_button med-emphasis" href="https://mahyaecc.ir/gallery">گالری</a>
            </div>
            <img alt="مرکز سالمندان محیا کرج"
                 src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/WhatsApp Image 2020-11-03 at 8.21.07 AM.jpeg">
        </div>


{% endblock %}