{% load static %}

<footer>
    <div id="main-footer" class="footer-section">
        <div id="map">
            <div class="gmap_canvas">
                <iframe width="350px" height="203px" id="gmap_canvas"
                        src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/maps.html"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.embedgooglemap.net/"></a>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 203px;
                    width: 350px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 203px;
                    width: 350px;
                }
            </style>
        </div>
        <div id="details">
            <div id="logo-section">
                <img src="./مرکز شبانه روزی نگهداری و توانبخشی سالمندان محیا کرج _ مرکز سالمندان محیا_files/logo - white (300).png">
                <div>
                    <p id="w-name">محیا</p>
                    <p>مرکز توانبخشی و نگهداری سالمندان</p>
                </div>
            </div>
            <p id="address">کرج ، بین فلکه اول گوهردشت و خیابان داریوش خیابان قائم ، کوچه شهید معینی ، پلاک 49</p>
        </div>
    </div>
    <div id="footer-menu" class="footer-section">
        <ul>
            <li><a href="https://mahyaecc.ir/">خانه</a></li>
            <li><a href="https://mahyaecc.ir/gallery">گالری</a></li>

            <li><a href="https://mahyaecc.ir/contactUs">تماس با ما</a></li>
            <li><a href="https://mahyaecc.ir/faq">سوالات متداول</a></li>
            <li><a href="https://mahyaecc.ir/aboutUs">درباره ما</a></li>
        </ul>
    </div>

    <p id="footer-copyright" class="footer-section">تمام حقوق طراحی محفوظ است 1399 </p>
</footer>