{% load static %}

<footer>
    <div id="main-footer" class="footer-section">
        <div id="details">

            <p id="address" style="font-family: tanha;font-size: x-large">طراحی شده توسط <a href="https://github.com/mohammadrezasolo69" style="color: #999999">محمدرضا سلطان دوست</a> </p>
        </div>
    </div>


    <p id="footer-copyright" class="footer-section" style="font-family: tanha;color: #999999;font-size: larger">یک پروژه تمرینی از <a href="https://mahyaecc.ir/" style="color: #00363a"> سایت محیا</a> </p>
</footer>