{% load static %}


<header class="marginate">

    <div id="nav-menu" class="header-section">
        <div id="bl-filter"></div>
        <nav id="mobile-menu" class="header-section">
            <div id="nav-icon">
                <img alt="menu icon"
                     src="{% static 'base/img/menu.png' %}">
            </div>
            <div id="bl-filter"></div>
            <nav id="mobile-menu" class="header-section">
                <div id="menu-header">
                    <img alt="close icon" id="menu-close"
                         src="{% static 'base/img/close_icn.png' %}">
                    <img src="{% static 'base/img/logo (512).png' %}"
                         alt="مرکز سالمندان کرج">
                </div>
                <ul>
                    <li><a href="{% url 'care_main:home' %}" style="font-family: tanha;font-size: large">خانه</a></li>
                    <li><a href="{% url 'gallery:gallery' %}" style="font-family: tanha;font-size: large">گالری</a></li>

                    <li><a href="{% url 'contact:contact' %}" style="font-family: tanha;font-size: large">تماس با ما</a>
                    </li>
                    <li><a href="{% url 'about:about' %}" style="font-family: tanha;font-size: large">درباره ما</a></li>
                    large
                </ul>
            </nav>
    </div>

    <div id="logo-section" class="header-section">
        <h2>
            <span id="w-name" style="color:#309975;font-family: tanha">سحر</span>
        </h2>
    </div>

    <nav id="menu" class="header-section">
        <ul>
            <li><a href="{% url 'care_main:home' %}" style="font-family: tanha;font-size: large">خانه</a></li>
            <li><a href="{% url 'gallery:gallery' %}" style="font-family: tanha;font-size:  large">گالری</a></li>
            <li><a href="{% url 'contact:contact' %}" style="font-family: tanha;font-size: large">تماس با ما</a></li>
            <li><a href="{% url 'about:about' %}" style="font-family: tanha;font-size: large">درباره ما</a></li>
        </ul>
    </nav>
    <div id="reseption-section" class="header-section">

    </div>
</header>