{% load static %}


<header class="marginate">

    <div id="nav-menu" class="header-section">
        <div id="bl-filter"></div>
        <nav id="mobile-menu" class="header-section">
            <ul>
                <li><a href="{% url 'care_main:home' %}" style="font-family: tanha">خانه</a></li>
                <li><a href="https://mahyaecc.ir/gallery">گالری</a></li>
                <li><a href="https://mahyaecc.ir/faq">سوالات متداول</a></li>
                <li><a href="https://mahyaecc.ir/contactUs">تماس با ما</a></li>
                <li><a href="https://mahyaecc.ir/aboutUs">درباره ما</a></li>
            </ul>
        </nav>
    </div>

    <div id="logo-section" class="header-section">
        <h2>
            <span id="w-name" style="color:#309975;font-family: tanha">سحر</span>
        </h2>
    </div>

    <nav id="menu" class="header-section">
        <ul>
            <li><a href="https://mahyaecc.ir/">خانه</a></li>
            <li><a href="https://mahyaecc.ir/gallery">گالری</a></li>
            <li><a href="https://mahyaecc.ir/faq">سوالات متداول</a></li>
            <li><a href="https://mahyaecc.ir/contactUs">تماس با ما</a></li>
            <li><a href="https://mahyaecc.ir/aboutUs">درباره ما</a></li>
        </ul>
    </nav>
    <div id="reseption-section" class="header-section">

    </div>
</header>