{% load static %}

<script src="{% static 'base/css/jQuery-3.5.1-main.js' %}"></script>

<script>
    // ---- HeaderMenu Begin ----
    $("#nav-icon").on({
        "click": function () {
            $("#bl-filter").fadeToggle(1000);
            $("#mobile-menu").css({
                "animation": "mobileMenuAppearAnim",
                "animationDuration": "2s",
                "animationFillMode": "forwards"
            });
        }
    });
    $("#menu-close").on("click", function () {
        $("#bl-filter").fadeToggle(1000);
        $("#mobile-menu").css({
            "animation": "mobileMenuDisApearAnim",
            "animationDuration": "2s",
            "animationFillMode": "forwards"
        });
    });
    // ---- HeaderMenu End ----
</script>


</script>
<script>
    $previewImg = $("#preview-box").children("img");
    $(".gi-body").children("li").on("click", function () {
        $imageSRC = $(this).children(".gallery-image").children("img").attr("src");
        $("#preview").fadeToggle(500);
        $("#preview").children("#preview-box").delay(500).fadeToggle(1000);
        $previewImg.attr("src", $imageSRC);
    });
    $("#close-icn").on("click", function () {
        $("#preview").fadeToggle(500);
        $("#preview").children("#preview-box").fadeToggle(500);
    })
</script>
